* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    color: #1c6161;
    font-size: 15px;
}

app-bar {
    background-color: #1c6161;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-bar h1 {
    font-family: sans-serif;
    color: #e7e7e7;
    font-size: 1.5em;
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

search-bar {
    margin: 5em auto;
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 0.8em;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

search-bar input {
    width: 80%;
    outline: none;
    border: none;
    padding: 0.4em;
    border-bottom: solid 1px #1c6161;
}

search-bar input:focus {
    color: #1c6161;
    border-bottom: solid 2px #1c6161;
}

search-bar input:focus::placeholder {
    color: #1c6161;
    font-weight: 600;
}

search-bar button {
    display: block;
    width: 150px;
    background-color: #1c6161;
    outline: none;
    border-style: none;
    color: #e7e7e7;
    text-transform: uppercase;
    padding: 0.7em;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    transition: 0.2s;
}

search-bar button:hover {
    background-color: #298585;
}

search-bar button:active {
    background-color: #1c6161;
}

food-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

food-list.jancok {
    color: red;
    text-align: center;
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    color: #1c6161;
}

food-menu {
    background-color: #e6e4e4;
    display: block;
    width: 27%;
    margin-bottom: 2em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

food-menu img {
    width: 100%;
    height: 231px;
    display: block;
}

food-menu h1 {
    font-family: sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}